@import url('../reset.css');


/* top bar */
.top_Bar_section,.navbar{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.info_bar_icon img,.social_icon img{
width: 20px;
}
.top_info_bar_icon .info_bar_icon{
    background: var(--green);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 2px 4px rgba(0,0,0,0.4);

}
.top_info_bar_right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social_icon{
  background: var(--green);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 2px 4px rgba(0,0,0,0.4);
}
.top_bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.top_info_bar_left{
  display: flex;
  gap: 10px;
}
.top_info_bar_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* second navbar */
nav{
background: var(--green);
}
.navbar{
display: flex;
justify-content: space-between;
padding: 10px;
align-items: center;
}
.shop_btn img{
  width: 20px;
}
.navbar .nav_text h2{
  color: var(--pink);
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: var(--white);
  font-size: clamp(48px,2vw,48px);
font-weight: 900;
text-transform: uppercase;
}
.nav_links ul {
  display: flex;
  gap: 15px;

}
.nav_links ul  li a{
  color: var(--white);
  font-size: clamp(20px,2vw,23px);
  font-weight: bold;
  text-transform: uppercase;
}
.shop_btn button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--pink);
  padding: 10px 15px;
  border-radius: 2px;
  border: 1px solid var(--white);
  box-shadow: 3px 4px 5px rgba(0,0,0,0.4);
}
.shop_btn .shop_btn_text{
  color: var(--white);
  font-size: clamp(20px,2vw,23px);
  font-weight: bold;
  text-transform: uppercase;

}