@import url('../reset.css');


/* top bar */

.info_bar_icon img{
width: 20px;
}
.top_info_bar_icon .info_bar_icon{
    background: var(--green);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}